@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
.body {
  height: 100vh;
  width: 100vw;
  background: url("/home/sravan/Desktop/web/slack clone/slack-clone/src/Front_end/images/pexels-photonova-2872856.jpg");
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  font-family: "montserrat", sans-serif;
}
.form {
  min-height: 400px;
  background-color: #ffffff;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.22);
}
.head {
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(211, 241, 40), rgb(44, 245, 44));
  border-radius: 0px 0px 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(1, 1, 206);
}
.inputout {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: 15px;
}
.input {
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  background: #dad8d7;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
}
.enter {
  color: #fff;
  background: #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border: 1px solid #ff4b2b;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.enter:hover {
  background: #f34324;
}
