@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/home/sravan/Desktop/web/slack clone/slack-clone/src/images/pexels-photonova-2872856.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "montserrat", sans-serif;
}
.container {
  position: relative;
  width: 768px;
  max-width: 100%;
  background: #fff;
  min-height: 480px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.22);
}
.sign_in {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 50%;
  z-index: 2;
}
.sign_up {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 50%;
  z-index: 1;
  opacity: 0;
}
.signin,
.signup {
  margin: 15px;
  background-color: transparent;
  border: 2px solid #fff;
  height: 50px;
  width: 230px;
  border-radius: 50px;
  cursor: pointer;
  color: #f5f6f7;
  font-size: 18px;
}
.container.right_panel_active .sign_in {
  transform: translateX(100%);
}
.container.right_panel_active .sign_up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.overlaycon {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container.right_panel_active .overlaycon {
  transform: translateX(-100%);
}
.overlay {
  position: relative;
  color: #fff;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #183bfd, #ae00ff);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay {
  transform: translateX(50%);
}
.overlay_right,
.overlay_left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  top: 0px;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
}
.overlay_left {
  left: 0px;
}
.overlay_right {
  right: 0px;
}
