* {
  box-sizing: border-box;
}
.body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.568);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 450px;
  border: 3px purple solid;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.head {
  height: 9%;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  padding-right: 10px;
  border-bottom: thin purple solid;
}
.inputbox {
  height: 13%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input {
  width: 98%;
  height: 80%;
  border-radius: 10px;
  font-size: 18px;
  padding: 3px;
}
.memberslist {
  height: 78%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.member {
  position: relative;
  width: 98%;
  height: 50px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: aliceblue;
  margin-top: 1px;
  margin-bottom: 1px;
}
.member:hover {
  background-color: rgb(217, 233, 247);
}
.memimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px rgb(72, 25, 240) solid;
}
.meminfo {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  position: relative;
}
.infospan1 {
  font-size: 23px;
}
.infospan2 {
  font-size: 12px;
}
.options {
  max-height: 120px;
  width: 80px;
  
  position: absolute;
  right: 0px;
  top: 28px;
  z-index: 5;
  border-radius: 15px 0px 7px 7px;
  background-color: rgb(230, 158, 92);
  overflow: hidden;
  padding: 2px;
  padding-left: 5px;
}
.option {
  height: 35px;
  width: 80px;
  font-size: 15px;
  background-color: rgb(230, 158, 92);
  cursor: pointer;
}
.option:hover{
    background-color: rgb(226, 146, 71);
}
