*{
    box-sizing: border-box;
}
.chat{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    position: relative;
}
.chatinfo{
    height: 8%;
    width: 100%;
    background-color: aqua;
}
.messages{
    height: 77%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}
.textinput{
    height: 15%;
    width: 100%;
    background-color: blueviolet;
}